@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<MvcMobileStore.Models.DonHang>

@{
    ViewBag.Title = "Quản Trị Đơn Hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*Scrip thực hiện Update lại trạng thái giao hàng*@
<script type="text/javascript">
    $(function () {
        //Thực hiện Cập nhật khi Click <a href="#" class="DaGiaoClick">
        $(".DaGiaoClick").click(function () {
            //Lấy Mã ĐH từ liên kết Click <a href> trên
            var _MaDH = $(this).attr("data-id");

            // Thực hiện xử lý Ajax: gọi hàm UpdateOrder để xử lý
            $.post("/Admin/UpdateOrder", { "id": _MaDH },

             function (data) {
                //Thực hiện cập nhật lại Url hình ẩn hiện
                 $('#img_AnHien-' + _MaDH).attr('src', data);
             });
        });
    });
</script>

@*roadlinktop*@
<ul class="roadlinktop">
    <li>
        <a href="/Admin">
            <img src="~/Content/Admin/Images/ico_adminhome.png" />
        </a>
    </li>
    <li>
        <a href="/Admin/Order">
            <span>Đơn Hàng</span>
        </a>
    </li>
</ul>

@*Danh sách Đơn hàng*@
<div class="title_ne1">DANH SÁCH ĐƠN HÀNG</div>
@using (Html.BeginForm())
{
    <table border="1" style="width: 984px; border: 1px solid #d0d0d0; border-collapse: collapse;">
        <tr>
            <th>Mã ĐH</th>
            <th>Người mua</th>
            <th>Ngày mua</th>
            <th>Ngày giao</th>
            <th>Người nhận</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Thanh toán</th>
            <th>Trị giá</th>
            <th>Đã giao</th>
            <th>Chi tiết</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@item.MaDH</td>
                <td style="text-align: center">@item.KhachHang.HoTen</td>
                <td style="text-align: center">@string.Format("{0:dd/MM/yyyy}", item.NgayMua)</td>
                <td style="text-align: center">@string.Format("{0:dd/MM/yyyy}", item.NgayGiao)</td>
                <td style="text-align: center">@item.TenNguoiNhan</td>
                <td style="text-align: center">@item.DiaChiNhan</td>
                <td style="text-align: center">@item.DienThoaiNhan</td>
                <td style="text-align: center">
                    @if (item.HTThanhToan == true)
                    {
                        <label>Sau</label>
                    }
                    else
                    {
                        <label>Trước</label>
                    }
                </td>
                <td style="text-align: center">@string.Format("{0:#,##0 đ}", item.Trigia)</td>
                <td style="text-align: center">
                    @if (item.Dagiao == true)
                    {
                        <a href="#" class="DaGiaoClick" data-id="@item.MaDH">
                            <img src="/Content/Admin/Images/icon_Hien.png" id="img_AnHien-@item.MaDH" title="Đã giao" />
                        </a>
                    }
                    else
                    {
                        <a href="#" class="DaGiaoClick" data-id="@item.MaDH">
                            <img src="/Content/Admin/Images/icon_An.png" id="img_AnHien-@item.MaDH" title="Chưa giao" />
                        </a>
                    }
                </td>
                <td style="text-align: center">
                    <a href="@Url.Action("OrderDetail", "Admin", new { id = item.MaDH })">
                        <img src="~/Content/Admin/Images/icon_eye.png" />
                    </a>
                </td>
            </tr>
        }
    </table>
}

@Html.PagedListPager(Model, Page => Url.Action("Order", new { Page = Page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
