<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" id="XenForo" lang="" dir="LTR" class="Public LoggedOut Sidebar  Responsive">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="/Content/Images/ico.png" />

    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/MenuTop.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>@*Script thực hiện các thao tác xóa, tăng giảm số lượng trong giỏ hàng*@
    <script src="~/Scripts/Gioithieu1.js"></script>
    <script src="~/Scripts/Gioithieu2.js"></script>
    <script src="~/Scripts/MenuTop1.js"></script>
    <script src="~/Scripts/MenuTop2.js"></script>
    <script src="~/Scripts/DangNhap.js"></script>
    <script src="~/Scripts/slide.js"></script>
    <script src="~/Scripts/slide2.js"></script>

    @*----------Script Hide/Show nội dung của mô tả chi tiết----------*@
    <script type='text/javascript'>
        //<![CDATA[
        $(function () {
            $('blockquote.spoiler').hide(1000).before('<button class="sp-trigger">Xem cấu hình chi tiết</button>');
            $('button.sp-trigger').toggle(function () {
                $(this).addClass('sp-active').text('Đóng cấu hình chi tiết').next().slideDown(1000);
            }, function () {
                $(this).removeClass('sp-active').text('Xem cấu hình chi tiết').next().slideUp(1000);
            });
        });
        //]]>
    </script>

    @*----------Script Hide/Show nội dung của xem thêm sản phẩm----------*@
    <script type='text/javascript'>
        //<![CDATA[
        $(function () {
            $('blockquote.spoiler1').hide(1000).before('<button class="sp-trigger1">Xem thêm sản phẩm</button>');
            $('button.sp-trigger1').toggle(function () {
                $(this).next().slideDown(1000); $(this).hide();
                $('#XemThem_ThiAn').hide(); //Làm thêm <div id="XemThem_ThiAn"> để click xem thêm sẽ làm cho các sản phẩm khác tràn lên cho khít
            }, function () {
                $(this).next().slideUp(1000);
            });
        });
        //]]>
    </script>

    @*----------Script Tab Menu----------*@
    <script>
        $(document).ready(function () {
            $("#content").find("[id^='tab']").hide(); // Hide all content
            $("#tabs li:first").attr("id", "current"); // Activate the first tab
            $("#content #tab1").fadeIn(); // Show first tab's content

            $('#tabs a').click(function (e) {
                e.preventDefault();
                if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                    return;
                }
                else {
                    $("#content").find("[id^='tab']").hide(); // Hide all content
                    $("#tabs li").attr("id", ""); //Reset id's
                    $(this).parent().attr("id", "current"); // Activate this
                    $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
                }
            });
        });
    </script>

    @*----------Script hover sản phẩm----------*@
    <script type="text/javascript">
        $(document).ready(function () {

            $("#product_grid li.product_item").hover(function () {
                $(this).children("div.more-detail").stop().animate({ top: '0px' });
            }, function () {
                $(this).children("div.more-detail").stop().animate({ top: '290px' });
            });
        });
    </script>

    @*----------Không cho nhập chữ, chỉ nhập số----------*@
    <script type="text/javascript">
        $(document).ready(function () {
            @*----------Ràng buộc chỉ nhập được những phím số.không nhập được chữ ----------*@
                 $(".number_ne").keydown(function (event) {
                     if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9) {//46:DELETE ,8:BACKSPACE ,9:TAB 
                         return;//3 phím trên cho sử dụng bình thường
                     }
                     else {// P/s:48->57 là phím từ 0 đến 9(k sử dụng Numlock), còn 96->105 là có sd Numlock (ở dưới bỏ lại 37,38,39,40 là 4 phím mũi tên)
                         if ((event.keyCode >= 0 && event.keyCode < 37) || (event.keyCode > 40 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 96) || event.keyCode > 105) {
                             event.preventDefault();//Chặn những phím trên
                         }
                         if (event.shiftKey) {//Chặn các phím Shift + .., ví dụ :!#$%^&*()_+:"?
                             if (event.keyCode >= 48 || event.keyCode <= 57) {
                                 event.preventDefault();//Chặn những phím trên
                             }
                         }
                     }
                 });
        });
    </script>
</head>
<body>
    @if (Session["Username"] == null)//Chưa đăng nhập => Hiện nút Đăng nhập
    {
        <div id="loginBar">
            <div class="pageWidth">
                <div class="pageContent">
                    <h3 id="loginBarHandle">
                        <label for="LoginControl" runat="server" id="lb_DangNhap"><a href="#" class="concealed noOutline">Đăng Nhập hoặc Đăng Ký</a></label>
                    </h3>
                </div>
            </div>
        </div>
            
        <form method="post" class="xenForm eAuth" id="login" runat="server" style="display: none;">
            @{Html.RenderAction("_pLogin", "Home");}
        </form>
    }
    else // Ngược lại hiện lên thẻ Div để ko làm cko logo dịch chuyển
    {
        <div style="padding-top: 6px;"></div>
    }

    <div id="body">
        <div id="header">
            @Html.Partial("_pHeader")
        </div>

        <div id="menutop">
            @Html.Partial("_pMenuSlide")
        </div>

        <div id="wrapper">
            <div id="content_">
                @RenderBody()
            </div>
            <div id="right_">
                @Html.Partial("_pFaceBook")
                @Html.Partial("_pHoTro")
                @{Html.RenderAction("_pQuangCao", "Home");}
            </div>
        </div>

        <div id="Menu_footer">
            @{Html.RenderAction("_pMenuFooter", "Home");}
        </div>
    </div>
    <div id="footer">
        @Html.Partial("_pFooter")
    </div>

    @*----------Nut len lai dau trang----------*@
    <a href="#" id="go_top" title="Lên đầu trang"></a>
    <script type="text/javascript">
        (function () {
            // Ẩn hiện icon go-top
            $(window).scroll(function () {
                if ($(window).scrollTop() == 0) {
                    $('#go_top').stop(false, true).fadeOut(1000);
                }
                else {
                    $('#go_top').stop(false, true).fadeIn(1000);
                }
            });
            // Cuộn trang lên với scrollTop
            $('#go_top').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 400);
                return false;
            })
        })(jQuery);
    </script>
    @*kddddddddddddddddddddddddddddddd*@
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=830105100470319';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @*------------Chat subiz----------------*@
    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 9047]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
</body>
</html>
