@model IEnumerable<MvcMobileStore.Models.SanPham>

@{
    ViewBag.Title = "Producer | Nhà Sản Xuất";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

@*Phần breadcrumbs*@
<ul id="breadcrumbs-one" style="margin: 0">
    <li><a href="/Home"><img src="~/Content/Images/home.png" style="vertical-align: top" />&nbsp; Trang chủ</a></li>
    <li><a class="current">Hãng sản xuất @foreach (var item in ViewBag.TenNSX) { @item.TenNSX}</a></li>
</ul>

<div class="show">
    <ul id="product_grid">
        @foreach (var item in Model)
        {
            <li class="product_item">
                <div class="detail">
                    @*Ẩn hiện biểu tượng Khuyễn mãi*@
                    @if (item.KhuyenMai != 0)
                    {                     
                        <div class="sale">
                            <label style="font-size: 14px; color: #FFF; line-height: 95px; font-weight: bold">- @item.KhuyenMai%</label>
                        </div>
                    }
                    <br />
                    <a href="@Url.Action("Details", "Home", new { id = item.MaSP })">
                        <img src="@item.UrlHinh" style="width:200px"/>
                        <br />
                        <div class="ProductName" style="text-align: left; padding-left: 15px; color: #666666; font-weight: bold">
                            <br />
                            @item.TenSP
                        </div>
                        <br />
                        <div class="Price-List" style="text-align: left; padding-left: 15px; color: #FF6600; font-weight: 700;">
                            @string.Format("{0:#,##0}", item.GiaHienTai) <sup>đ</sup>
                        </div>
                    </a>
                </div>

                <div class="more-detail">
                    <br />
                    <a href="@Url.Action("Details", "Home", new { id = item.MaSP })">
                        <label style="color: #666; font-weight: bold;">@item.TenSP</label>
                        <ul class="item_list" style="margin: 0px; text-align: left; padding: 5px 10px; font-size: 12px; color: #666">
                            @Html.Raw((item.MoTa).Replace("\n", "<br />")) @*Dùng Raw Encode để nhận được mã HTML*@
                        </ul>
                    </a>
                </div>
            </li>
        }
    </ul>

    <div id="XemThem_ThiAn" style="clear:both;padding-top:10px"></div> @*Khi click xem thêm sẽ làm cho các sản phẩm khác tràn lên cho khít, đã code Script trong Layout*@
    @*=================================================================================================*@
    @*Phần Xem thêm SP*@
    <blockquote class="spoiler1">
        <ul id="product_grid">
            @foreach (var item in ViewBag.SP_Khac)
            {
                <li class="product_item">
                    <div class="detail">
                        @*Ẩn hiện biểu tượng Khuyễn mãi*@
                        @if (item.KhuyenMai != 0)
                        {                     
                            <div class="sale">
                                <label style="font-size: 14px; color: #FFF; line-height: 95px; font-weight: bold">- @item.KhuyenMai%</label>
                            </div>
                        }
                        <br />
                        <a href="@Url.Action("Details", "Home", new { id = item.MaSP })">
                            <img src="@item.UrlHinh" style="width:200px"/>
                            <br />
                            <div class="ProductName" style="text-align: left; padding-left: 15px; color: #666666; font-weight: bold">
                                <br />
                                @item.TenSP
                            </div>
                            <br />
                            <div class="Price-List" style="text-align: left; padding-left: 15px; color: #FF6600; font-weight: 700;">
                                @string.Format("{0:#,##0}", item.GiaHienTai) <sup>đ</sup>
                            </div>
                        </a>
                    </div>

                    <div class="more-detail">
                        <br />
                        <a href="@Url.Action("Details", "Home", new { id = item.MaSP })">
                            <label style="color: #666; font-weight: bold;">@item.TenSP</label>
                            <ul class="item_list" style="margin: 0px; text-align: left; padding: 5px 10px; font-size: 12px; color: #666">
                                @Html.Raw(Html.Encode(item.MoTa).Replace("\n", "<br />")) @*Dùng Raw Encode để nhận được mã HTML*@
                            </ul>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </blockquote>
    <div class="clear"></div>
</div>
<div class="footer-shadow"></div>
